<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Plate number:</strong>
    <%= vehicle.plate_number %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= vehicle.vehicle_type %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= vehicle.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= vehicle.year %>
  </p>

</div>
