<div id="<%= dom_id speed_record %>">
  <p>
    <strong>Vehicle:</strong>
    <%= speed_record.vehicle_id %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= speed_record.speed %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= speed_record.location %>
  </p>

  <p>
    <strong>Recorded at:</strong>
    <%= speed_record.recorded_at %>
  </p>

  <p>
    <strong>Direction:</strong>
    <%= speed_record.direction %>
  </p>

  <p>
    <strong>Weather conditions:</strong>
    <%= speed_record.weather_conditions %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= speed_record.notes %>
  </p>

</div>
